.App{
  display: grid;
  place-content: center;
  gap: 4rem;
}

main{
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  place-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
}

@media only screen and (min-width: 199) and (max-width: 599px){
  .App{
    gap: 1rem;
  }

  main{
    display: grid;
    grid-template-columns: 1fr;
  }

}


@media only screen and (max-width: 600px){
  .App{
    gap: 2rem;
  }

  main{
    display: grid;
    grid-template-columns: 1fr;
  }

}

@media only screen and (min-width: 601px) and (max-width: 900px) {
  
  main{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 901px) and (max-width: 1199px){
  main{*max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }
}